/* You can add global styles to this file, and also import other style files */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
}

.mat-form-field-label {
  color: white;
}
.s-4 {
  height: 4px;
  width: 4px;
}
.s-8 {
  height: 8px;
  width: 8px;
}
.s-12 {
  height: 12px;
  width: 12px;
}
.s-24 {
  height: 24px;
  width: 24px;
}
.s-36 {
  height: 36px;
  width: 36px;
}
.s-48 {
  height: 48px;
  width: 48px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
